.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgb(53, 78, 63);
  color: white;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: 2px;
  background-color: rgb(53, 78, 63);
}
.header {
  font-weight: bold;
  margin-top: 5vh;
}
.cell1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  text-align: center;
  border-bottom: 2px solid white;
  padding: 6px;
}
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  border-bottom: 2px solid white;
}
.pubs {
  font-weight: bold;
}
.pubScore {
  font-weight: bold;
  text-align: center;
}
.scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 25px;
  background-color: rgb(77, 116, 92);
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
input{
  text-align: center;
}
.leaderBoardWrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999;
}
.leaderBoardContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(53, 78, 63);
  width: 85vw;
  height: 80vh;
  border-radius: 5px;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  padding-top: 15px;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.leaderTable th {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}
.leaderTable td{
  padding: 5px;
  border-bottom: 1px solid white;
}
.updateBTN{
  width: auto;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: rgb(77, 116, 92);
  color: white;
  border: 1px solid white;
}
.refreshBTN{
  z-index: 1000;
}
.maps{
  height: 5vh;
  position: absolute;
  left: 15vw;
}
.podium{
  height: 5vh;
  position: absolute;
  margin-bottom: 10px;
  right: 15vw;
}
.podiumOpenBoard{
  height: 10vh;
  margin-bottom: 0px;
}
.scoreboardTTL h2{
  margin: 0px;
}
.exitBTN{
  position: absolute;
  top: 0;
  right: 6vw;
  padding: 0px 10px 5px 10px;
}
.tittleHeader{
  text-align: center;
}
.rulesHazzards{
  margin-bottom: 15px;
  position: relative;
  left: -15vw;
}
.rulesHazzards h5{ 
  margin-bottom: 0px;
}
.rulesHazzards p{
  font-size: 10px;
  margin: 2px;
}
.hazzards{
  margin-top: 5px;
}
.mapExit{
  top: -2.5vh;
}
.mapTTL{
  position: absolute;
  top: -1vh;
}