.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    border: 2px solid rgba(0, 0, 0, 0.444);
  }
  
  .header {
    font-weight: bold;
  }
  .cell1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    text-align: center;
    border-right: 2px solid rgba(0, 0, 0, 0.444);
  }
  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
  }
  
  .pubs {
    font-weight: bold;
  }
  
  .pubScore {
    font-weight: bold;
    text-align: center;
  }
  
  .scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 600px) {
    .cell {
      width: 50%;
    }
  }
  